name: Doxygen GitHub Pages Deploy Action


on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
      pages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: "true"
      - name: Doxygen build and deploy
        uses: ./.github/actions/doxygen-github-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: docs
          config_file: Doxyfile
          dest_repo: Tientuine/awesomespaceadventure.git

